body{
    margin: 0;
}
h1{
    margin: 0;
}
header{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
    background: lightblue;
    letter-spacing: 2px;
}
input[type=text], input[type=text], input[list=branches]{
    padding: 4px 10px;
}
input[type=button]{
    padding: 6px 15px;
}
.center{
    text-align: center;
    background: lightcyan;
    display: inline-block;
    padding: 4% 9%;
}
.mid{
    text-align: center;
    margin-top: 9%;
}
.bu{
    padding: 11px;
    letter-spacing: 10px;
}
p:last-child{
    margin-top: 10px;
}